.page {
  min-height: 100svh;
  padding: 80px;
  font-family: var(--font-geist-sans);
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  flex-direction: column;
}

.footer {
  display: flex;
  margin-top: auto;
  justify-content: right;
}